<h1 id="product-name"><%= @product.name %></h1>
<h2><%= @product.description %></h2>
<h3 id="product-id"><%= @product.id %></h3>

<h4><%= link_to "Add to cart",shopping_cart_index_path(product_id: "#{@product.id}"), method: :create %></h4>
<button id="add-product">add via ajax</button>
